.footer {
  width: 100%;
  margin-top: 130px;
  border-radius: 20px 20px 0 0;
  background: #18003e;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  min-height: 273px;
  border-radius: 20px 20px 0 0;
  padding-bottom: 22px;
  padding-top: 30px;
}

.icon {
  margin-top: 30px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.27;
  color: #fff;
  margin-top: 30px;
}

.footer__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.27;
  color: #8c8c8c;
  margin-top: 16px;
  margin-bottom: 35px;
}

.divider {
  border: none;
  border-top: 1px solid rgb(230, 230, 230, 0.1);
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  gap: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.27;
  color: #8c8c8c;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.27;
  color: #8c8c8c;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__socialText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.27;
  color: #8c8c8c;
}

.footer__social {
  display: flex;
  gap: 8px;
}

.links {
  display: flex;
  gap: 8px;
}
